<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B8B79781D9BB3DF0062E096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8B79911D9BB3DF0062E096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8B799C1D9BB3DF0062E096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
